.navbar {
  margin: -8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031d44;
}

.linkBox {
  background-color: #8affc1;
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: #031d44;
}
